
# Expiring time for a single user session (default 1 hour)
SESSION_TIME=number_of_seconds

# FastAPI running port for backend (avoid 8000)
FASTAPI_PORT=a_four_digit_number

# FastAPI host interface (default 'localhost')
HOST_INTERFACE=ip_address_or_localhost

# PuterJS credentials
PUTER_USER=username_of_puter_account
PUTER_PASS=password_of_puter_account